<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="fragments/style :: head" ></div>
  </head>



  <body>
    <div th:replace="fragments :: navbar" ></div>
    
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Tech Talent Store</h1>
                <p>This is a small e-commerce application that allows the user to purchase some of a few products that are offered here. 
                </p>

                <p>
                    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a>
                </p>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <!--Fill this part in-->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Product Name</h5>
                                <p class="card-text">Text to be inserted later</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>

                    </div>

                    <div class="col">

                    </div>

                    <div class="col">

                    </div>
                    
                    
                </div>

            </div>
        </div>
    </main>
    
    <footer th:replace="fragments :: footer"></footer>
  </body>
  </html>

